.archive
.storage
.ssh
custom_components
image
packages/google.json
themes
tts
www
home-assistant.log
home-assistant.log.1
home-assistant_v2.db
secrets.yaml
zigbee.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal

